{% extends 'base.html.twig' %}

{% block title %}
    {{ message }}
{% endblock %}

{% block body %}
    <header>
        {% include 'page/menu.html.twig' %}
    </header>
    <h1>{{ message }}</h1>
{% endblock %}
